<div class="render preview-diario">
    <!-- titulo de vista -->
    <div class="render-title text-center">
        <h1>Nueva Nota</h1>
    </div>

    <div class="resultados-wrap">
        
        <!--item paso 2 agregar imagen-->
        <div class="item">
            <div class="multiple-input-wrap text-center">
                <h4>PASO 2</h4>
                <h2>Agregar Imagenes</h2>
            </div>
            <div class="multiple-input-wrap d-flex">
                <div class="col-lg-12">
                    <label for="adjuntarImagenes">Agregar Imagenes</label>
                    <input type="file" id="adjuntarImagenes" name="imagenes">
                </div>

            </div>

            <div class="multiple-input-wrap d-flex">
                <div class="col-lg-12 d-flex justify-content-end">
                    <button class="btn cancel-btn"><a href="/home/NuevaNota">Cancelar</a></button>
                    <button class="btn accent-btn">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

