
@{
    Layout = null;
}

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/style.css">
    <!--cdn ICONOS SVG-->
    <link href="~/css/WebFont/font-css/LineIcons.css" rel="stylesheet" />
</head>
<body>
    <div id="mainContainer" class="main">
        <div class="render preview-diario">
            <div class="search-wrap box mt30">
                <div class="abrir">
                    <button class="btn accent-btn" id="abrir">
                        <a href="#">ATRAS</a>
                    </button>
                </div>
                <div class="abrir">
                    <button class="btn accent-btn" id="abrir">
                        <a href="#">IMPRIMIR</a>
                    </button>
                </div>
            </div>
            <div class="resultados-wrap">
                <!--item inicio-->
                <div id="notaResumida" class="item nota-imprimir-asistencia">
                    <div class="nota">
                        <div class="notaSection d-flex justify-content-between">
                            <div>  
                                <img class="imprimir-img-dependencia" src="~/img/mopcLogo.png" />
                            </div>
                            <div class="text-center mb70">
                                <h4>MINISTERIO DE OBRAS PUBLICAS Y COMUNICACIONES</h4>
                                <h4>COMISION MILITAR Y POLICIAL (COMIPOL)</h4>
                                <h4><b>Resumen de Eventos Ocurridos</b></h4>
                                <h5>Desde las 06:16 del dia 25/1/2021 hasta las 6:09 del dia 26/01/2021</h5>
                            </div>
                                <img class="imprimir-img-dependencia" src="~/img/comipol.jpg" />
                            </div>
                        </div>

                <div class="notaSection">
                    <div class="mini-nota-impresion d-flex">
                        <div class="col-lg-1 pr20 numero-nota d-flex">
                            <h4>1</h4>
                        </div>
                        <div class="col-lg-4 numero-nota d-flex">
                            <img src="~/img/mopc-2.jpg" />
                        </div>
                        <div class="col-lg-4 pr20">
                            <h4>Descripcion:</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                Donec tristique augue vitae odio consequat, id fermentum dui viverra.
                            </p>
                        </div>
                        <div class="col-lg-3 pr20">
                            <h4>Acciones Tomadas:</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </p>
                        </div>
                    </div>
                    <div class="mini-nota-impresion d-flex">
                        <div class="col-lg-2 ml74">
                            <h5 id="indicadorSolucionado">Solucionado <i class="lni lni-checkmark"></i></h5>
                        </div>
                        <div class="col-lg-10">
                            <h5 class="text-left">
                                <span class="destacado" id="provincia"><i class="lni lni-map-marker"></i> Cibao Norte</span>
                            </h5>
                        </div>
                    </div>
                </div>

                </div>
                <!--item final-->

            </div>
        </div>
    </div>
</body>

<div id="marcaDeAgua" class="watermark-wrap">
    <div class="watermark">
        <p>
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL
            FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL FULANO DE TAL

        </p>
    </div>
</div>

